<html>
<head>
  <meta http-equiv="refresh" content="10">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdn.corpam.com.ar/bootstrap/stable/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.corpam.com.ar/bootstrap/stable/css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="//cdn.corpam.com.ar/common/stable/js/jquery.min.js"></script>
  <script src="//cdn.corpam.com.ar/bootstrap/stable/js/bootstrap.min.js"></script>
  <script src="//cdn.corpam.com.ar/bootstrap/stable/js/bootstrap-list-filter.src.js"></script>

  <title>Naprox - status page</title>

</head>
  <body>
    <h1>Naprox</h1> status page
    <hr>
    <!-- <p>{{ config_servers }}</p> -->
    <!-- <p>{{ current_servers }}</p> -->
    <div class="table-responsive">
      <table class="table">
      <thead>
        <th>Status</th>
        <th>Server</th>
      </thead>
      <tbody>
      {% for server in config_servers %}
          {% if server in current_servers %}
        <tr class="success">
            <td style="width:100px">OK</td>
          {% else %}
        <tr class="alert-danger">
            <td style="width:100px">FAIL</td>
          {% endif %}
          <td>{{ server }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
    <p align="left">Last check: {{ last_check }}</span>
    <p align="right"><span id="time"></span>
  </body>
  <script language="javascript">
      var today = new Date();
      document.getElementById('time').innerHTML=today;
  </script>
  
</html>
